.slack-buttons {
	background-color: #310D31;
}

.list {
	background-color: #4A184B;
}

.bg-color-grey {
	background-color: #5A5A5A;
	border:2px solid white;
}
.bg-color-purple {
	background-color: #4A184B;
}
}